.main-container {
    width:100%;
}

.date-box {
    width: 13%;
}

.race-name-box {
    padding-left: 20px;
    width: 55%;
}

.race-distance-box {
    padding-left: 20px;
    margin-top: 5px;
    width: 30%;
}

.race-name {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 0;

}

.track-name {
    font-size: 0.9em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.weekday {
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.date {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.time {
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.laps {
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.distance {
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}