@*
 * This component is used to display a single race row in the schedule/calendar.
 *@

@using NascarCalendar.Services
@inject ICalendarService CalendarService

<Card Class="mb-2 rounded-0 shadow-sm main-container">
    <CardGroup Class="p-2">
        <div Class="date-box">
            <p Class="weekday">@raceDayOfWeek</p>
            <p Class="date">@raceDate</p>
            <p Class="time">@raceTime ET</p>
        </div>
        <div Class="race-name-box">
            <p Class="race-name">@raceName</p>
            <p Class="track-name">@trackName</p>
        </div>
        <div Class="race-distance-box">
            <p Class="laps">This is a @laps lap race</p>
            <p Class="distance">With a total distance of @distance miles</p>
        </div>
    </CardGroup>
</Card>

@code {
    [Parameter, EditorRequired]
    public string SeriesIdentifier { get; set; } = "";

    [Parameter, EditorRequired]
    public int RaceIndex { get; set; } = 0;

    // The info that is displayed for each race
    private string raceName = "-";
    private string trackName = "-";
    private string raceDayOfWeek = "";
    private string raceDate = "";
    private string raceTime = "";
    private int laps = 0;
    private double distance = 0;

    protected override void OnInitialized()
    {
        var race = CalendarService.GetRace(SeriesIdentifier, RaceIndex);

        raceName = race.race_name;
        trackName = race.track_name;
        laps = race.scheduled_laps;
        distance = race.scheduled_distance;

        raceDayOfWeek = race.race_date.DayOfWeek.ToString();
        raceDate = race.race_date.ToString("MMM. d");
        raceTime = race.race_date.ToString("h:mm tt");
        return;
    }


}
