<div Class="container">
    <div Class="series-name">
        @publicSeriesName
    </div>
    <div Class="cup series @(SeriesName != "series_1" ? "blur-pic" : "")">
        <a href="/series_1/@Year">
            <img src="https://www.nascar.com/wp-content/uploads/sites/7/2023/05/10/nascar_cup_series_logo.svg"/>
        </a>
        @if (SeriesName == "series_1")
        {
            <div Class="line mt-1" />
        }
    </div>
    <div Class="xfinity series @(SeriesName != "series_2" ? "blur-pic" : "")">
        <a href="/series_2/@Year">
            <img src="https://www.nascar.com/wp-content/uploads/sites/7/2023/05/10/nascar_xfinity_series_logos-1.svg"/>
        </a>
        @if (SeriesName == "series_2")
        {
            <div Class="line mt-1" />
        }
    </div>
    <div Class="truck series @(SeriesName != "series_3" ? "blur-pic" : "")">
        <a href="/series_3/@Year">
            <img src="@truckImgUrl"/>
        </a>
        @if (SeriesName == "series_3")
        {
            <div Class="line mt-1" />
        }
    </div>
</div>

<div Class="line"/>

@code {
    [Parameter, EditorRequired]
    public string SeriesName { get; set; } = "";

    [Parameter, EditorRequired]
    public string Year { get; set; } = "";

    private string publicSeriesName = "";
    private string truckImgUrl = "https://www.nascar.com/wp-content/uploads/sites/7/2023/05/10/nascar_craftsman_truck_series_logo.svg";

    protected override void OnInitialized()
    {
        // TODO: Move this code into a service class. We want to also use it for the title of the Series page
        switch (SeriesName)
        {
            case "series_1":
                publicSeriesName = "NASCAR Cup Series";
                break;
            case "series_2":
                publicSeriesName = "NASCAR Xfinity Series";
                break;
            case "series_3":
                publicSeriesName = "NASCAR CRAFTSMAN Truck Series";
                break;
            default:
                publicSeriesName = "";
                break;
        }

        try {
            if (Int32.Parse(Year) <= 2022) {
                truckImgUrl = "https://latino.nascar.com/wp-content/uploads/sites/8/2022/05/19/NCWTS-Primary-RGB_240x115.png";
            }
        } catch (Exception e) {
            // Do nothing
        }
    }
}