<CardGroup Class="mb-2 border-0" Style="width:100%;">
    <div Class="seriesName" Style="width:70%;">
        NASCAR Cup Series
    </div>
    <div Class="cup series" Style="width:10%;">
        <img src="https://www.nascar.com/wp-content/uploads/sites/7/2023/05/10/nascar_cup_series_logo.svg"/>
    </div>
    <div Class="xfinity series" Style="width:10%;">
        <img src="https://www.nascar.com/wp-content/uploads/sites/7/2023/05/10/nascar_xfinity_series_logos-1.svg"/>
    </div>
    <div Class="truck series" Style="width:10%;">
        <img src="https://www.nascar.com/wp-content/uploads/sites/7/2023/05/10/nascar_craftsman_truck_series_logo.svg"/>
    </div>
</CardGroup>

<div Class="line"/>