.container {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

.season-text {
    display:flex;
    justify-content: flex-end;
    font-weight: 800;
    font-size: 1.3em;
    padding-top: 3px;
    padding-right: 15px;
    text-transform: uppercase;
}

.pick-button {
    background-color: #ffffff;
    border: 1px solid #000000;
    font-weight: 800;
    font-size: 1.3em;
}

.dropdown {
    border: 1px solid #000000;
    margin-top: 34px;
    position: absolute;
    z-index: 1000;
}
.dropdown button {
    background-color: #ffffff;
    border: none;
    display: block;
    font-weight: 800;
    font-size: 1.3em;
    padding-right: 1.5em;
    width: 100%;
}

.bottom-spacer {
    height: 20px;
}