.spacer {
    width: 80%;
}

.season-text {
    display:flex;
    justify-content: flex-end;
    font-weight: 800;
    font-size: 1.3em;
    padding-top: 3px;
    padding-right: 5px;
    text-transform: uppercase;
    width: 10%;
}

.picker {
    width: 10%;
}

.pick-button {
    background-color: #ffffff;
    border: 1px solid #000000;
    font-weight: 800;
    font-size: 1.3em;
}

.dropdown {
    border: 1px solid #000000;
    position: absolute;
    z-index: 1000;
}
.dropdown button {
    background-color: #ffffff;
    border: none;
    display: block;
    font-weight: 800;
    font-size: 1.3em;
    width: 100%;
}

.bottom-spacer {
    height: 20px;
}