/* _content/NascarCalendar/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-1kezf5iojd] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1kezf5iojd] {
    flex: 1;
}

.sidebar[b-1kezf5iojd] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-1kezf5iojd] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-1kezf5iojd]  a, .top-row[b-1kezf5iojd]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-1kezf5iojd]  a:hover, .top-row[b-1kezf5iojd]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-1kezf5iojd]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-1kezf5iojd] {
        justify-content: space-between;
    }

    .top-row[b-1kezf5iojd]  a, .top-row[b-1kezf5iojd]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-1kezf5iojd] {
        flex-direction: row;
    }

    .sidebar[b-1kezf5iojd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1kezf5iojd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-1kezf5iojd]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-1kezf5iojd], article[b-1kezf5iojd] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-1kezf5iojd] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-1kezf5iojd] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/NascarCalendar/Components/Shared/ErrorMessage.razor.rz.scp.css */
.message[b-w8oqh4ih1w] {
    font-family: monospace;
    margin-top: 20px;
}
/* _content/NascarCalendar/Components/Shared/Race.razor.rz.scp.css */
.main-container[b-oh86wjfrd3] {
    width:100%;
}

.date-box[b-oh86wjfrd3] {
    width: 15%;
}

.race-name-box[b-oh86wjfrd3] {
    width: 25%;
}

.race-distance-box[b-oh86wjfrd3] {
    padding-left: 20px;
    margin-top: 5px;
    width: 60%;
}

.race-name[b-oh86wjfrd3] {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 0;

}

.track-name[b-oh86wjfrd3] {
    font-size: 0.9em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.weekday[b-oh86wjfrd3] {
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.date[b-oh86wjfrd3] {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.time[b-oh86wjfrd3] {
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.laps[b-oh86wjfrd3] {
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}

.distance[b-oh86wjfrd3] {
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase
}
/* _content/NascarCalendar/Components/Shared/SeriesPicker.razor.rz.scp.css */
.series-name[b-6myoym1tfp] {
    top: 30%;
    font-weight: 800;
    font-size: 1.1em;
    width: 70%;
}

.blur-pic[b-6myoym1tfp] {
    opacity: 0.2;
}

.blur-pic:hover[b-6myoym1tfp] {
    opacity: 1;
}

.series[b-6myoym1tfp] {
    padding-left: 10px;
    width: 10%;
}

.series a img[b-6myoym1tfp] {
    object-fit: contain;
    width: 100%;
}

.line[b-6myoym1tfp] {
    border: none;
    height: 5px;
    color: #3a81fc;
    background-color: #3a81fc;
    margin-bottom: 15px;
}
/* _content/NascarCalendar/Components/Shared/YearPicker.razor.rz.scp.css */
.spacer[b-q8w136na8j] {
    width: 80%;
}

.season-text[b-q8w136na8j] {
    display:flex;
    justify-content: flex-end;
    font-weight: 800;
    font-size: 1.3em;
    padding-top: 3px;
    padding-right: 5px;
    text-transform: uppercase;
    width: 10%;
}

.picker[b-q8w136na8j] {
    width: 10%;
}

.pick-button[b-q8w136na8j] {
    background-color: #ffffff;
    border: 1px solid #000000;
    font-weight: 800;
    font-size: 1.3em;
}

.dropdown[b-q8w136na8j] {
    border: 1px solid #000000;
    position: absolute;
    z-index: 1000;
}
.dropdown button[b-q8w136na8j] {
    background-color: #ffffff;
    border: none;
    display: block;
    font-weight: 800;
    font-size: 1.3em;
    width: 100%;
}

.bottom-spacer[b-q8w136na8j] {
    height: 20px;
}
