@page "/404"


<div Class="the-container">
    <img src="favicon.webp"/>
    <p>Yellow Flag: Page Not Found!</p>
</div>

Looks like you've taken a wrong turn and ended up in the grass. Don’t worry, we’re all about fast recoveries.

What to do next:

Check the URL and try again, or
Hit the gas and head back to the homepage to find your way to the checkered flag!
We’ll get you back on track in no time—just don’t try to draft the server!