@*
 * This is the 404 page of the application.
 * This page is displayed when the user navigates to a page that does not exist.
 *@

@page "/404"

<div Class="the-container">
    <img src="favicon.webp"/>
    <p>Yellow Flag: Page Not Found!</p>
</div>