@page "/"
@using NascarCalendar.Services
@using Models = NascarCalendar.Models
@using NascarCalendar.Components.Shared
@inject INascarService NascarService
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Calendar</h1>

@if (races == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var race in races)
    {
        <Race RaceName=@race.race_name />
    }
}

@code {
    private string calendar = "c";
    private List<Models.Race> races = null;

    protected override async Task OnInitializedAsync()
    {
        try {
            var calendarRoot = await NascarService.GetCalendar();

            calendar = calendarRoot.series_1[1].race_name;
            races = calendarRoot.series_1;

        } catch (Exception e) {
            calendar = "Error retrieving Calendar. Please try again later.";
            // TODO: Display the error in the UI in a proper error format
        }
    }
}
