@page "/"
@using NascarCalendar.Services
@inject INascarService NascarService
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<h1>Calendar</h1>

<p>@calendar</p>

@code {
    private string calendar = "c";

    protected override async Task OnInitializedAsync()
    {
        try {
          calendar = await NascarService.GetCalendar();
        } catch (Exception e) {
            calendar = "Error retrieving Calendar. Please try again later.";
            // TODO: Display the error in the UI in a proper error format
        }
    }
}
