@page "/series/{SeriesName}"
@using NascarCalendar.Services
@using Models = NascarCalendar.Models
@using NascarCalendar.Components.Shared
@inject ICalendarService CalendarService
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Series</PageTitle>

<SeriesPicker SeriesName=@SeriesName/>

@if (races == null)
{
    <p></p>
}
else
{
    <div>
    @foreach (var race in races.Select((value, index) => new { index, value }))
    {
        <Race Series="@SeriesName" RaceIndex=@race.index/>
    }
    </div>
}

@code {
    [Parameter, EditorRequired]
    public string SeriesName { get; set; } = "";

    private string calendar = "c";
    private List<Models.Race> races = null;

    protected override async Task OnInitializedAsync()
    {
        try {
            var calendarRoot = await CalendarService.GetCalendar();

            races = CalendarService.GetSeries(SeriesName);

        } catch (Exception e) {
            var err = "Error retrieving Calendar. Please try again later.";
            // TODO: Display the error in the UI in a proper error format
        }
    }
}
