.race-name[b-oh86wjfrd3] {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 1.3em;
}

.track-name[b-oh86wjfrd3] {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 0.9em;
    text-transform: uppercase
}

.weekday[b-oh86wjfrd3] {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase
}

.date[b-oh86wjfrd3] {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 1.3em;
    text-transform: uppercase
}

.time[b-oh86wjfrd3] {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase
}

.laps[b-oh86wjfrd3] {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 0.7em;
    text-transform: uppercase
}

.distance[b-oh86wjfrd3] {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 0.7em;
    text-transform: uppercase
}