.main-container[b-6myoym1tfp] {
}

.series-name[b-6myoym1tfp] {
    top: 30%;
    font-weight: 800;
    font-size: 1.1em;
    width: 70%;
}

.blur-pic[b-6myoym1tfp] {
    opacity: 0.2;
}

.blur-pic:hover[b-6myoym1tfp] {
    opacity: 1;
}

.series[b-6myoym1tfp] {
    padding-left: 10px;
    width: 10%;
}

.series a img[b-6myoym1tfp] {

}

.line[b-6myoym1tfp] {
    border: none;
    height: 5px;
    color: #3a81fc;
    background-color: #3a81fc;
    margin-bottom: 15px;
}