.container[b-6myoym1tfp] {
    display: flex;
    justify-content: flex-end;
    height: 90px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

.series-name[b-6myoym1tfp] {
    font-weight: 800;
    font-size: 1.1em;
    width: 70%;
}

.line[b-6myoym1tfp] {
    border: none;
    height: 5px;
    color: #3a81fc;
    background-color: #3a81fc;
    margin-bottom: 15px;
}