.blur-pic[b-1bpocjulfr] {
    opacity: 0.2;
}

.blur-pic:hover[b-1bpocjulfr] {
    opacity: 1;
}

.series[b-1bpocjulfr] {
    padding-left: 10px;
}

.series a img[b-1bpocjulfr] {
    object-fit: contain;
    width: 140px;
}

.line[b-1bpocjulfr] {
    border: none;
    height: 5px;
    color: #3a81fc;
    background-color: #3a81fc;
    margin-bottom: 15px;
}