.spacer[b-q8w136na8j] {
    width: 80%;
}

.season-text[b-q8w136na8j] {
    display:flex;
    justify-content: flex-end;
    font-weight: 800;
    font-size: 1.3em;
    padding-top: 3px;
    padding-right: 5px;
    text-transform: uppercase;
    width: 10%;
}

.picker[b-q8w136na8j] {
    width: 10%;
}

.pick-button[b-q8w136na8j] {
    background-color: #ffffff;
    border: 1px solid #000000;
    font-weight: 800;
    font-size: 1.3em;
}

.dropdown[b-q8w136na8j] {
    border: 1px solid #000000;
    position: absolute;
    z-index: 1000;
}
.dropdown button[b-q8w136na8j] {
    background-color: #ffffff;
    border: none;
    display: block;
    font-weight: 800;
    font-size: 1.3em;
    padding-right: 1.5em;
    width: 100%;
}

.bottom-spacer[b-q8w136na8j] {
    height: 20px;
}